@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
}

p {
    font-size: 15px;
    margin: 20px;
    margin-right: 5px;
}

#mainContainer {
    position: absolute;
    top: 100px;
    background-color: black;
    height: 150px;
    width: 600px;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 20px;
}

#optionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#outputContainer {
    display: flex;
    flex-direction: row;
}

.options {
    cursor: pointer;
}


#generateButton {
    background-color: var(--purple);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    width: 150px;
    cursor: pointer;
    margin-right: 20px;
}

#generateButton:active {
    transform: translateY(2px);
}

#upperCaseCheckbox, #numberCheckbox, #symbolCheckbox {
    scale: 1.5;
    filter: invert(100%) grayscale(100%) brightness(1.75);
}

#length {
    font-size: 15px;
    width: 45px;
    filter: invert(100%) grayscale(100%) brightness(1.75);
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-radius: 7.5px;
    border-width: 1px;
    cursor: auto !important;
}

#output {
    font-family: 'JetBrains Mono', monospace;;
    display: flex;
    align-self: center;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 600px;
    height: 50px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 2px !important;
    border-radius: 15px;
}

#output:focus {
    outline: none;
}

#copy {
    position: absolute;
    right: 35px;
    margin-top: 11px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding: 3px;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    scale: 1.25;
}

#copy:hover {
    color: rgb(212, 212, 212);
}

#copy:active {
    transform: translateY(1px);
}

::selection {
    background-color: white;
    color: black;
}

@media (max-width: 680px) {
    #mainContainer {
        width: 350px;
        height: 260px;
    }
    #optionsContainer {
        flex-flow: row wrap;
    }
    #outputContainer {
        display: flex;
        flex-direction: column;
    }
    #output {
        width: 355px;
    }
    #generateButton {
        width: 150px;
        margin-left: -5px;
        margin-bottom: 10px;
    }
    #copy {
        margin-top: 68px;
        margin-right: -5px;
    }
}

@media (max-width: 420px) {
    #mainContainer {
        width: 200px;
        height: 375px;
    }
    #optionsContainer {
        justify-content: center;
    }
    #outputContainer {
        display: flex;
        flex-direction: column;
    }
    #output {
        width: 225px;
        font-size: 15px;
    }
    #generateButton {
        width: 150px;
        margin-left: 25px;
    }
    #copy {
        margin-top: 70px;
        margin-right: -20px;
        scale: 1;
    }

    .options {
        margin-right: 15px;
    }
}